.chand-viewport {
    padding: 0 5px;
}

.chand-menu {
    min-width: 300px;
}

.chand-unit {
    font-size: 0.9em;
}

.chand-item-value {
    padding-left: 8px;
    padding-right: 8px;
    font-weight: bold;
    font-feature-settings: "tnum";
}

.chand-item-change {
    min-width: 5em;
    font-size: 0.9em;
    font-feature-settings: "tnum";
}

.chand-change-up {
    color: #2ecc71;
}

.chand-change-down,
.chand-error {
    color: #e74c3c;
}

.chand-footer-button {
    padding: 8px;
}
